<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<body>
    <a href="/notes">Volver</a>
    <H1>Crear Publicación</H1>

    <form action="/notes" method="post">
        <input type="text" name="title" placeholder="Titulo"><br>
        <textarea name="content"  laceholder="Contenido" cols="30" rows="10"></textarea><br>
        <input type="link" name="title" placeholder="URL"><br>
        <input type="date" name="dcreate" placeholder="Fecha Creación"><br>
        <button>Crear Publicacion</button>
        

    </form>
</body>
</html>